@model sl_lv.Models.AdsViewModels
@{
    ViewBag.Title = "AddNewAds";
}

<h2>Add New Ads</h2>
@using (Html.BeginForm("AddAdsSub", "Home", FormMethod.Post))
{
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-4">
            <div class="form-group" name="radiobutton" id="radiobutton">
                @if (ViewContext.RouteData.Values["lang"].ToString() == "ru")
                {
                    foreach (var advert in Model.Advert)
                    {
                        <div id="radiobutton">
                            @Html.RadioButtonFor(m => m.Advert, advert.ID_Advert, new { id = advert.ID_Advert })
                            <label id="radioclick" for="@advert.ID_Advert">@advert.Name_RU</label>
                        </div>

                    }
                }

                @if (ViewContext.RouteData.Values["lang"].ToString() == "lv")
                {
                    foreach (var advert in Model.Advert)
                    {
                        <div id="radiobutton">
                            @Html.RadioButtonFor(m => m.Advert, advert.ID_Advert, new { id = advert.ID_Advert })
                            <label for="@advert.ID_Advert">@advert.Name_LV</label>
                        </div>
                    }
                }

                @if (ViewContext.RouteData.Values["lang"].ToString() != "lv" & ViewContext.RouteData.Values["lang"].ToString() != "ru")
                {
                    foreach (var advert in Model.Advert)
                    {
                        <div id="radiobutton">
                            @Html.RadioButtonFor(m => m.Advert, advert.ID_Advert, new { id = advert.ID_Advert })
                            <label for="@advert.ID_Advert">@advert.Name_EN</label>
                        </div>
                    }
                }
                @{
                    var subgroupe = Model.AdvertSubgroup;
                    <input hidden id="Advertid" name="Advertid" value="" />

                }
            </div>
        </div>
    </div>
                    }
<script>
    $("input:radio[name=Advert]").click(function () {
        var value = $(this).val();
        document.getElementById("Advertid").value = value;

        $("form").submit();
    });
</script>
